%html
  %head
    %link(rel="stylesheet" type="text/css" href="/analytics/css/jquery.jqplot.css")
    %link(rel="stylesheet" type="text/css" href="/analytics/css/analytics.css")
  %body
    = haml :banner
    = markdown :help
