%script(type="text/javascript"){:src => url("/js/jquery-1.7.min.js")}
%script(type="text/javascript"){:src => url("/js/jquery.sparkline.min.js")}
%script(type="text/javascript"){:src => url("/js/jquery.jqplot.min.js")}
%script(type="text/javascript"){:src => url("/js/jqplot.barRenderer.min.js")}
%script(type="text/javascript"){:src => url("/js/jqplot.categoryAxisRenderer.min.js")}
%script(type="text/javascript"){:src => url("/js/jqplot.dateAxisRenderer.min.js")}
%script(type="text/javascript"){:src => url("/js/jqplot.highlighter.min.js")}
