%html
  %head
    %link(rel="stylesheet" type="text/css"){:href => url("/css/jquery.jqplot.css")}
    %link(rel="stylesheet" type="text/css"){:href => url("/css/analytics.css")}
  %body
    = haml :banner
    %h1 Launches
    = LaunchesList.new($db).render
    .key= markdown(:launches_key)
    = haml :js
    %script(type="text/javascript"){:src => url("/js/launches.js")}