%html
  %head
    %link(rel="stylesheet" type="text/css"){:href => url("/css/launch-d3.css")}
  %body
    = haml :banner
    %h1 Trying out d3 graphic
    .graph
    %p
      Graphic should be above this paragraph
    %ul.links
      %li /articles/nosqlKeyPoints.html
      %li /articles/agileFluency.html
    = haml :js
    %script(type = "text/javascript"){:src => url("/js/d3.v2.js")}
    %script(type = "text/javascript"){:src => url("/js/launch-d3.js")}

